__pycache__/
.venv/
total_purchases*.csv
aws_model.log
result_cost.csv
build/*.o
build/*.elf
build/opt
implementations/cpp_sp_only/build/
.python-version

### Docker testing ###
logs/error.log
logs/output.log
logs/output/*.csv

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
CMakeUserPresets.json

# External projects
*-prefix/
